<a href="https://colab.research.google.com/github/truongthuanr/self-learning-project/blob/main/04_NLP_Disater_Tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Information

**Problem:** Predict which Tweets are about real disasters and which ones are not

dataset: 
  * https://www.kaggle.com/c/nlp-getting-started/data

# Import data

In [2]:
train_url = "https://raw.githubusercontent.com/truongthuanr/self-learning-project/main/dataset/DisaterTweet/train.csv"

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(train_url)

# Explotary Data

In [89]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
df.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [7]:
df.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

length of  data

In [9]:
df.shape

(7613, 5)

**Description:**

`id` - a unique identifier for each tweet

`text` - the text of the tweet

`location` - the location the tweet was sent from (may be blank)

`keyword` - a particular keyword from the tweet (may be blank)

`target` - in train.csv only, this denotes whether a tweet is about a real disaster (1) or not (0)

In [13]:
df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

take a look on target column

In [18]:
df.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

check for random data

In [55]:
import random
for i in range(0,5):
  random_index = random.randint(0,len(df))
  text_,target_ = df[["text","target"]].iloc[random_index]
  print(f"target: {target_}", "(real disater)" if target_!=0 else "(not didater)")
  print(f"Text:\n{text_}\n")

target: 0 (not didater)
Text:
AMBULANCE SPRINTER AUTOMATIC FRONTLINE VEHICLE CHOICE OF 14 LEZ COMPLIANT | eBay http://t.co/Kp2Lf4AuTe

target: 0 (not didater)
Text:
On holiday to relax sunbathe and drink ... Putting out bush fires? Not so much ?? #spain https://t.co/dRno7OKM21

target: 1 (real disater)
Text:
@Navista7 Steve these fires out here are something else! California is a tinderbox - and this clown was setting my 'hood ablaze @News24680

target: 1 (real disater)
Text:
Suicide bomber kills 15 in Saudi security site mosque http://t.co/AxhcLfErSU

target: 0 (not didater)
Text:
THEY SHALL BE ANNIHILATED AND ALL OF THEIR PETEBESTS DESSICATED AND LAID BARE. THEN YOU SHALL KNEEL BEFORE ME.

In [95]:
print("longest text length: ")
print(df["text"].apply(len).max())
print(df[df["text"].apply(len) == df["text"].apply(len).max()]['text'])

print("Shortest text length: ")
print(df["text"].apply(len).min())
print(df[df["text"].apply(len) == df["text"].apply(len).min()]['text'])

longest text length:
157
1270    when you're taking a shower and someone flushe...
Name: text, dtype: object
Shortest text length:
7
1882    Crushed
4890    Bad day
5115    Err:509
Name: text, dtype: object

7612

In [99]:
len(df.iloc[1882]["text"])

7

# Split data to training set and testing set

In [57]:
from sklearn.model_selection import train_test_split

In [68]:
X_train, y_train, X_test, y_test = train_test_split(df["text"],
                                                    df["target"],
                                                    test_size=0.15,
                                                    random_state=40)

In [69]:
X_train[:10]

4599    Jack Wilshere has poor injury recordand his of...
6861    Why #Marijuana Is Critical For Research in Tre...
5404    New post: 'People are finally panicking about ...
2684    Ignition Knock (Detonation) Sensor-Senso Stand...
283                             the apocalypse is upon us
2374    Dr. Gridlock: HereÛªs what may have caused a ...
1588    One day I want someone to run for the ferry fa...
551     YA BOY CLIP VS 4KUS FULL BATTLE\n\n@15MofeRadi...
1943     Dont even come if you worried about curfew #BC19
2258    Businesses are deluged with invoices. Make you...
Name: text, dtype: object